<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.thuytrinh.android.multiphotochooser"
    xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

  <application android:allowBackup="true">
    <activity
        android:name=".controller.activity.PhotoChooserActivity"
        android:label="@string/albums" />
  </application>

</manifest>